# Compiled class files
*.class

# Log files
*.log
node_modules
*.jar
*.war
*.zip
*.tar
*.gz
*.bz2
*.rar

# Java & Maven
target
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Eclipse
.settings/
.classpath
.factorypath
.project
.apt_generated
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Frontend
node_modules/
dist/
dist_backup/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Application specific
Project-Assistant/
preset_jar/
data_backup_temp/
*.log
application-*.yml
application-*.properties

# Exceptions
!preset_jar/preset-valid.jar


# 显式包含src/main目录
!src/
!src/main/
!src/main/**